<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <%- include('partials/menubar_admin') %>
    <h1>Welcome, <%= username %></h1>
    <p>This is the admin dashboard.</p>
</body>
</html>
<style>
    .content {
      margin-left: 220px; /* ให้มีพื้นที่สำหรับ sidebar */
      padding: 20px;
    }
  </style>