<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="/css/style_profile.css">
</head>
<body>
  <div class="background-blur"></div>
  <div class="login-container">
    <header>
      <h1>User Profile</h1>
    </header>

  <% if (error) { %>
    <div style="color: red;"><%= error %></div>
  <% } %>

  <% if (user) { %>
    <main>
      <div class="info">
        <p><strong>Username:</strong> <%= user.username %></p>
        <p><strong>Email:</strong> <%= user.email %></p>

        <p>Change Password</p>
      </div>
        
          <div class="login-form">
              <form action="/profile/change-password" method="POST">
                <label for="old_password">Old Password:</label>
                <input type="password" name="old_password" required>
                <br>
                <label for="new_password">New Password:</label>
                <input type="password" name="new_password" required>
                <br>
                <label for="confirm_new_password">Confirm New Password:</label>
                <input type="password" name="confirm_new_password" required>

                <div class="button-container">
                  <button type="submit" id="change-password">Change Password</button>  
                </div>
              </form>
              
              <form action="/logout" method="POST">
                <div class="button-container">
                  <button type="submit" id="log-out">Logout</button>
                </div>
              </form>
          </div>
      </main>
    <% } %>

</body>
</html>
