body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #BDC9D5;
}
.content {
    flex: 1;
    padding: 20px;
    overflow: auto;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 200px;
    border-right: 1px solid #000;
    background-color: #0A1F33;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar h1 {
    font-size: 24px;
    color: white;
    margin: 0 0 20px 0;
    margin-bottom: 40px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.sidebar i{
    color: #000000;
}

.sidebar ul li a i {
    margin-right: 10px;
    font-size: 22px;
}

.sidebar ul li.active {
    font-weight: bold;
    background-color: #BDC9D5;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}

.sidebar a.active {
    color: #000000;
}


.sidebar ul li:hover {
    font-weight: bold;
    background-color: rgb(189, 201, 213, 0.5);
    padding: 5px;
    border-radius: 5px;
}
.profile {
    font-size: 45px;
    text-align: center;
}
.content {
    flex-grow: 1;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.header h2 {
    font-size: 24px;
    margin: 0;
}

.header .new-ticket {
    padding: 10px 20px;
    background-color: #ff0;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    padding: 5px;
    margin: 20px 0;
    background-color: #97A0AA;
}
.search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 18px;
    background-color: #97A0AA;
}
.search-bar select {
    background-color: #97A0AA;
    border: none;
    outline: none;
    font-size: 18px;
}
.search-bar i {
    margin-right: 10px;
    font-size: 18px;
}
.ticket-list {
    border: 1px solid #000;
    background-color: #97A0AA;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
}
.ticket-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #000;
    font-weight: bold;
}
.ticket-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #000;
}
.ticket-item:last-child {
    border-bottom: none;
}
.ticket-item a {
    text-decoration: none;
    color: #000;
    flex-grow: 1;
}
.ticket-item span {
    margin-left: 20px;
}

.ticket-header, .ticket-item {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 0.3fr; /* Adjust these values based on your preferred column widths */
    text-align: left;
    padding: 10px;
}

.ticket-header {
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.ticket-item a, .ticket-header span {
    padding-left: 10px;
}

.ticket-item a {
    text-decoration: none;
    color: #000;
    flex-grow: 1;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.pagination button {
    border: 1px solid #000;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000;
}


.header .return-button {
    background-color: #97A0AA;
    color: #263238;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}
.header .return-button:hover {
    background-color: #7d858d;
}

.form-container {
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: #A2ABB6;
}
.form-container label {
    display: block;
    margin-bottom: 10px;
}
.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #8D949D;
}
.form-container textarea {
    height: 150px;
}
.form-container .create-button {
    background-color: #1e88e5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.content .form-container button:hover {
    background-color: #1565c0;
}
.no-tickets {
    color: red;
    text-align: center;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
    
    .ticket-header, .ticket-item {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .ticket-header span:nth-child(4),
    .ticket-header span:nth-child(5),
    .ticket-header span:nth-child(6),
    .ticket-item a:nth-child(4),
    .ticket-item a:nth-child(5),
    .ticket-item a:nth-child(6) {
        display: none;
    }
}
