body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #BDC9D5;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 200px;
    border-right: 1px solid #000;
    background-color: #0A1F33;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar h1 {
    font-size: 24px;
    color: white;
    margin: 0 0 20px 0;
    margin-bottom: 40px;
}

.sidebar h3 {
    font-size: 18px;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.sidebar i{
    color: #000000;
}

.sidebar ul li a i {
    margin-right: 10px;
    font-size: 22px;
}

.sidebar ul li.active {
    font-weight: bold;
    background-color: #BDC9D5;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}

.sidebar a.active {
    color: #000000;
}


.sidebar ul li:hover {
    font-weight: bold;
    background-color: rgb(189, 201, 213, 0.5);
    padding: 5px;
    border-radius: 5px;
}
.profile {
    font-size: 45px;
    text-align: center;
}
.profile i{
    color: #000;
}
.content {
    flex-grow: 1;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
.header h2 {
    font-size: 24px;
    margin: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.search-bar input[type="text"] {
    width: 300px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

.search-bar input{
    outline: none;
}
.search-bar button {
    background-color: #1e88e5;
    color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #1565c0;
}

.ticket-list {
    border: 1px solid #000;
    padding: 10px;
}
.ticket-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #000;
    font-weight: bold;
}
.ticket-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #000;
}
.ticket-item:last-child {
    border-bottom: none;
}
.ticket-item a {
    text-decoration: none;
    color: #000;
    flex-grow: 1;
}
.ticket-item span {
    margin-left: 20px;
}

.ticket-header, .ticket-item {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 0.2fr; /* Adjust these values based on your preferred column widths */
    text-align: left;
    padding: 10px;
}

.ticket-header {
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.ticket-item a, .ticket-header span {
    padding-left: 10px;
}

.ticket-item a {
    color: #000;
}


.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.pagination button {
    border: 1px solid #000;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000;
}


.header .return-button {
    border: 1px solid #000;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
}
.status-list {
    list-style: none;
    padding: 0;
}
.status-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #97A1AA;
}
.status-list li .priority {
    display: flex;
    align-items: center;
}
.status-list li .priority a {
    text-decoration: none;
    color: #000;
    margin-left: 10px;
}
.status-list li .priority a:hover {
    text-decoration: underline;
}

.no-tickets {
    color: red;
}

.content .title a {
    font-size: 25px;
}

.container .ticket {
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
}

.content {
    flex: 1;
    padding: 20px;
    overflow: auto;
}

.content {
    flex: 1;
    padding: 20px;
    overflow: auto;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
    
    .ticket-header, .ticket-item {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .ticket-header span:nth-child(4),
    .ticket-header span:nth-child(5),
    .ticket-header span:nth-child(6),
    .ticket-item a:nth-child(4),
    .ticket-item a:nth-child(5),
    .ticket-item a:nth-child(6) {
        display: none;
    }
}