body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #BDC9D5;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 200px;
    border-right: 1px solid #000;
    background-color: #0A1F33;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar h1 {
    font-size: 24px;
    color: white;
    margin: 0 0 20px 0;
    margin-bottom: 40px;
}

.sidebar h3 {
    font-size: 18px;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.sidebar i{
    color: #000000;
}

.sidebar ul li a i {
    margin-right: 10px;
    font-size: 22px;
}

.sidebar ul li.active {
    font-weight: bold;
    background-color: #BDC9D5;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}

.sidebar a.active {
    color: #000000;
}


.sidebar ul li:hover {
    font-weight: bold;
    background-color: rgb(189, 201, 213, 0.5);
    padding: 5px;
    border-radius: 5px;
}
.profile {
    font-size: 45px;
    text-align: center;
}
.profile i{
    color: #000;
}
.content {
    flex-grow: 1;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
.header h2 {
    font-size: 24px;
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
select {
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #939DA6;
    border-radius: 4px;
}
button {
    background-color: #1e88e5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #1565c0;
}
.back-link {
    display: block;
    margin-top: 20px;
    color: #000000;
    text-decoration: none;
}
.back-link:hover {
    text-decoration: underline;
}