<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style_search.css">
    <title>Tickets</title>

</head>
<body>
  <div class="container">
    <div class="sidebar">
      <div>
          <h1>HELPDESK</h1>
          <ul>
              <li><a href="/user/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
              <li><a href="/user/tickets"><i class="fas fa-ticket-alt"></i> Tickets</a></li>
              <li class="active"><a href="/user/search"><i class="fas fa-search"></i> Search</a></li>
          </ul>
      </div>
      <div class="profile">
          <a href="#"><i class="fas fa-user-circle"></i></a>
      </div>
  </div>
  <div class="content">
        <div class="header">
            <h1>ค้นหาข้อมูล</h1>
        </div>
        <div class="search-section">
            <label for="search">ค้นหา:</label>
            <input type="text" id="search" name="search" placeholder="Search">
            <button>Search</button>
        </div>
        <div class="faq-section">
            <h3>คำถามที่พบบ่อย (FAQ)</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
  </div>
 </body>
</html>