<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style_queue.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div>
                    <h1>HELPDESK</h1>
                <ul>
                    <li><a href="/staff/assigned-tickets"><i class="fas fa-ticket-alt"></i> Tickets</a></li>
                    <li><a href="/staff/tickets/status"><i class="fas fa-tasks"></i> Status</a></li>
                    <li class="active"><a href="/staff/tickets/queue" class="active"><i class="fas fa-user-clock"></i> Queue</a></li>
                    <li><a href="/staff/search"><i class="fas fa-search"></i> Search</a></li>
                </ul>
            </div>
            <div class="profile">
                <a href="/profile"><i class="fas fa-user-circle"></i></a>
            </div>
        </div>
        <div class="content">
            <div class="header">
                <h2>Queue</h2>
            </div>
            <ul class="queue-list">
                <li>
                    <div class="priority">
                        <span>1</span>
                        <a href="/staff/tickets/priority/low">Low</a>
                    </div>
                    <div>▶</div>
                </li>
                <li>
                    <div class="priority">
                        <span>2</span>
                        <a href="/staff/tickets/priority/medium">Medium</a>
                    </div>
                    <div>▶</div>
                </li>
                <li>
                    <div class="priority">
                        <span>3</span>
                        <a href="/staff/tickets/priority/high">High</a>
                    </div>
                    <div>▶</div>
                </li>
                <li>
                    <div class="priority">
                        <span>4</span>
                        <a href="/staff/tickets/priority/urgent">Urgent</a>
                    </div>
                    <div>▶</div>
                </li>
            </ul>
        </div>
      </div>
    </body>
    </html>